{{!  _humon_node_debug.hbs }}

<span class="node-debug">
  <dl>
    <dt>  view.id </dt>
    <dd>{{view._id}}</dd>
    <dt>  view.templateName </dt>
    <dd>{{view.templateName}}</dd>
    <dt>  view._templateChanged  </dt>
    <dd>{{view._templateChanged}}</dd>
    <dt>  view.nodeContent.nodeType  </dt>
    <dd>{{view.nodeContent.nodeType}}</dd>
    <dt>  view.nodeContent.nodeMeta.name  </dt>
    <dd>{{view.nodeContent.nodeMeta.name}}</dd>
  </dl>
  <dl>
    <dt>&amp;</dt>
    <dd>nodeContent.notInitialized</dd>
    <dt>@</dt>
    <dd>view.templateChanged</dd>
    <dt>#</dt>
    <dd>type-locked</dd>
    <dt>!</dt>
    <dd>invalid</dd>
  </dl>
</span>

<span class="node-detail detail-debug">
  {{view.nodeContent.nodeType}}
  <span class="debug-glyphs">
    <i {{bind-attr class="view._templateChanged:template-changed"}}></i>
    <i {{bind-attr class="view.nodeContent.notInitialized:not-initialized"}}></i>
    <i {{bind-attr class="view.nodeContent.nodeMeta:type-locked"}}></i>
    <i {{bind-attr class="view.nodeContent.invalid:invalid"}}></i>
  </span>
</span>


