<div class="act well">
  <span class="title"><a {{action showAct act href=true}}> # </a>  {{ dateFormat start_time format="MMM D h:mm a"}} ({{ dateFromNow start_time}}) </span><br>
  <span class="caption">id: </span> {{ id }} <br>

  <span class="description">
    <span class="caption description">description:</span>
    {{view Sysys.EditableField valueBinding="description" }} <br>
  </span>
  <span class="start-time">
    <span class="caption">start time: </span> {{ dateFormat start_time format="MMM D h:mm a"}} ({{ dateFromNow start_time}}) ||  {{start_time}} <br> 
  </span>
  <br>
  <span class="start-time">
    <span class="caption">start time: </span> {{start_time_pretty }}  <br> 
  </span>
  <br>
  <span class="start-time">
    <span class="caption">end time: </span>{{ end_time }} ({{ dateFromNow end_time}})  || {{end_time}}<br> 
  </span>
  <br>
  <br>
  <br>
  <span class="date">
    <span class="caption">start time:</span> {{view Sysys.DateTimePickerField  valBinding="start_time" }} ({{ dateFromNow start_time}})
  </span> 
  <br>
  <span class="date">
    <span class="caption">end time: </span>{{ view Sysys.DateTimePickerField valBinding="end_time" }} 
  </span>
  <br>
  <span class="duration">
    <span class="caption">duration: </span> {{view Sysys.DurationField valueBinding="duration"}} 
  </span>
  <br>

  <span class="caption">details: </span>
  {{view Sysys.HumonNodeView contentBinding="detail"}}
  {{detail.json}}
  


  <button type="submit" class="btn btn-primary"> zorger </button>

  {{! view Ember.TextField valueBinding="description"}}
  {{! view Ember.TextField valueBinding="start_time"}}
  {{#if isDirty}}
  <div>
    You have unsaved changes
  </div>
  {{/if}}

</div>
