{{view Sysys.HumonNodeView nodeContentBinding="description"}}
{{view Sysys.HumonNodeView nodeContentBinding="start_time"}}
{{view Sysys.HumonNodeView nodeContentBinding="end_time"}}
zug
{{detail}}
detail
{{render "detail" detail}}
zug


{{#if isDirty}}
<div>
  You have unsaved changes. <br>
<a {{action commitAct}} class="btn btn-primary"> save? </a>
</div>
{{/if}}


========zugggggggg====
{{render "test"}}
