  {{view Sysys.EditableField valueBinding="description" }}
  {{view Sysys.MetaNodeView contentBinding="content.description"}}
  <span class="caption">start time: </span> {{ dateFormat start_time format="MMM D h:mm a"}} ({{ dateFromNow start_time}}) ||  {{start_time}} <br>
  <span class="caption">start time:</span> {{view Sysys.DateTimePickerField  valBinding="start_time" }} ({{ dateFromNow start_time}})
  <span class="caption">duration: </span> {{view Sysys.DurationField valueBinding="duration"}}

<span class="caption">details: </span>
{{view Sysys.HumonNodeView contentBinding="detail"}}


{{#if isDirty}}
<div>
  You have unsaved changes. <br>
<a {{action commitAct}} class="btn btn-primary"> save? </a>
</div>
{{/if}}
