<div class="action well">
  start time: {{ debug description }} <br>
  description: {{ description }} <br>
  action.description: {{ action.description }} <br>
  start time: {{ dateFormat start_time format="MMM D h:mm a"}} ({{ dateFromNow start_time}}) <br> 
  start time pretty: {{ start_time_pretty }} <br>
  end time: {{ action.end_time }} <br>
  <br> helllo 
</div>
