<span class="options">
  {{#link-to "dataPoint" this}} Perma link {{/link-to}}
  {{#if isDirty}}
  <a {{action "save"}}> Save * </a>
  {{/if}}
</span>
Submitted at: {{submittedAt}}
{{humon-editor json=startedAt rootKey="Started at" downPressed="downPressed" upPressed="upPressed" focusLost="deactivateDataPointView" focusGained="activateDataPointView"}}
{{humon-editor json=endedAt rootKey="Ended at" downPressed="downPressed" upPressed="upPressed" focusLost="deactivateDataPointView" focusGained="activateDataPointView"}}
{{humon-editor json=details rootKey="Details" downPressed="downPressed" upPressed="upPressed" focusLost="deactivateDataPointView" focusGained="activateDataPointView"}}

{{humon-editor json=view.details rootKey="SleepComplex" metaTemplate=view.metaTemplate downPressed="downPressed" upPressed="upPressed" focusLost="deactivateDataPointView" focusGained="activateDataPointView"}}
