<h1> DataPoint </h1>
THIS DOT details:: {{this.details}}<br>
details:: {{this.details}}<br>
THIS:: {{this}}
{{humon-editor initialJson=initialJson json=details}}
<button {{action "submit"}}>
  Create data point
</button>
