this: {{this}} <br>
this.view: {{this.view}} <br>
this.view.context: {{this.view.context}} <br>
<br>
view: {{view}} <br>
view.context: {{view.context}} <br>
view.content:: {{view.content}} <br>
view.zorgr {{view.zorgr}} <br>
zorgr {{zorgr}} <br>
context.zorgr {{context.zorgr}} <br>
context.zorgr {{context.zorgr}} <br>

<br>
this.context:: {{this.context}} <br>
this.content:: {{this.content}} <br>

<br>
    <a class="close" {{action destroyNotification view.content }}>&#215;</a>
      {{view.content.title}}<br>
      {{view.content.text}}<br>
