<div style="margin-left: 15px; border: 1px solid red">
  {{#if view.context.isEnumerable}}
    {{#each element in view.context}}
      {{#view}}
        {{#if view.parentView.context.isHash}}
          key
        {{else}}
        [{{view._parentView.contentIndex}}]
        {{/if}}
      {{/view}}
      {{view Sysys.DetailsView contextBinding="element"}}
    {{/each}}
  {{else}}
  <i>{{view.context}}   {{view.context.val}} {{view Sysys.EditableField valueBinding="view.context.val"}}</i>
  {{/if}}
</div>
