{{#if view.hovered}}
<div class="detailsbar">
  <a {{action enterEdit target="view" href="true"}} class="details-edit"> [edit] </a>
  <a {{action collapse target="view" href="true"}} class="details-collapse"> [collapse] </a>
  <span class="detailsIdentification"> {{view.identification}} </span>
</div>
{{/if}}
<div class="collapsible">
  {{#if view.isEditing}}
    {{view Ember.TextArea valueBinding="view.commitValue"}}
  {{else}}
    {{#if view.details.isEnumerable}}
      {{#each element in view.details}}
        {{#view tagName="span" className="details-iter"}}
          {{#if view.parentView.details.isHash}}
            {{view Sysys.DetailsKeyView detailsBinding="element" indexBinding="view._parentView.contentIndex"}}
          {{else}}
          [{{view._parentView.contentIndex}}]
          {{/if}}
          {{view Sysys.DetailsView detailsBinding="element" indexBinding="view._parentView.contentIndex"}}
        {{/view}}
      {{/each}}
    {{else}}
    <em>{{view.details}} {{view Sysys.EditableField valueBinding="view.details"}} ||  {{view.details.val}} || {{view Sysys.EditableField valueBinding="view.details.val"}}</em>
    {{/if}}
  {{/if}}
</div>
