{{#if view.parentView.context.isEnumerable }}
  {{#if view.parentView.context.isHash}}
    {{view.keyName}}
  {{else}}
    [{{view.contentIndex}}]:
  {{/if}}
{{/if}}
<div style="margin-left: 15px; border: 1px solid red">
  {{#if view.context.isEnumerable}}
    {{each view.context itemViewClass="Sysys.DetailsView"}}
  {{else}}
  <i>{{view.context}}</i>
  {{/if}}
</div>
