<span class="blocky">
  {{#if view.nodeContent.nodeParent.isList}}
    {{view "Sysys.IdxField" valueBinding="view.nodeContent.nodeIdx" rawValueBinding="view.nodeContent.nodeIdx"}}
  {{else}}
    {{view "Sysys.KeyField" rawValueBinding="view.nodeContent.nodeKey"}}<span class="colon-glyph">:</span>
  {{/if}}

    {{view "Sysys.ValField" rawValueBinding="view.templateStrings.asString" }} {{view.templateStrings.relative }}
    <span class="node-detail">
      {{view.templateStrings.verbose}} verbose
    </span>

</span>

<span class="buffer"></span>
<span class="close-glyph"></span>
