{{!
humon_node_date.hbs
}}
<span class="blocky">
  {{partial humon_key_index_field}}

    {{view "Sysys.ValField" rawValueBinding="view.templateStrings.asString" }}
    ({{ view.templateStrings.relative }})

    <span class="node-detail">
      {{view.templateStrings.verbose}}
      {{partial humon_icon}}
    </span>

</span>

<span class="close-glyph"></span>
