<span class="blocky">
  {{#if view.content.nodeParent.isList}}
    {{view "Sysys.IdxField" valueBinding="view.content.nodeIdx" rawValueBinding="view.content.nodeIdx"}}
  {{else}}
    {{view "Sysys.KeyField" rawValueBinding="view.content.nodeKey"}}<span class="colon-glyph">:</span>
  {{/if}}

  {{#if view.content.isLiteral}}
    {{view "Sysys.ValField" rawValueBinding="view.content.json" }}
  {{else}}
    <span class="open-glyph"> </span>{{view "Sysys.ProxyField" }}
  {{/if}}
</span>

{{#if view.content.isCollection}}
  {{view "Sysys.BigValField"}}
  {{collection contentBinding="view.content.nodeVal" itemViewClass="Sysys.HumonNodeView" class="node-item-collection-wrapper"}}
{{/if}}
<span class="buffer"></span>
<span class="close-glyph"></span>

{{#if view.displayStats}}
<br><br>
<strong> JSON STRING</strong>: {{view.json_string}} <br>
<strong> Active Humon Node</strong>: {{controller.activeHumonNode.nodeView.json_string}} <br>
<strong> Active Humon Node Key</strong> {{controller.activeHumonNode.nodeKey}} <br>
<strong> Active Humon Node Idx</strong> {{controller.activeHumonNode.nodeIdx}} <br>
<strong> Active Humon Node Parent</strong> {{controller.activeHumonNode.nodeParent.nodeView.json_string}} <br>
{{/if}}
