<span class="blocky">
  {{#if nodeParent.isList}}
    {{view "Sysys.IdxField" valueBinding="nodeIdx" rawValueBinding="nodeIdx"}}
  {{else}}
    {{view "Sysys.KeyField" rawValueBinding="nodeKey"}}<span class="colon-glyph">:</span>
  {{/if}}

  {{#if isLiteral}}
    {{view "Sysys.ValField" rawValueBinding="json" }}
  {{else}}
    <span class="open-glyph"> </span>{{view "Sysys.ProxyField" }}
  {{/if}}
</span>

{{#if isCollection}}
  {{view "Sysys.BigValField"}}
  {{collection contentBinding="nodeVal" itemViewClass="Sysys.HumonNodeView" class="node-item-collection-wrapper"}}
{{/if}}
<span class="buffer"></span>
<span class="close-glyph"></span>

{{#if view.displayStats}}
<br><br>
<strong> JSON STRING</strong>: {{view.json_string}} <br>
<strong> Active Humon Node</strong>: {{controller.activeHumonNode.nodeView.json_string}} <br>
<strong> Active Humon Node Key</strong> {{controller.activeHumonNode.nodeKey}} <br>
<strong> Active Humon Node Idx</strong> {{controller.activeHumonNode.nodeIdx}} <br>
<strong> Active Humon Node Parent</strong> {{controller.activeHumonNode.nodeParent.nodeView.json_string}} <br>
{{/if}}
