<span class="blocky">
  {{#if view.nodeContent.nodeParent.isList}}
    {{view "Sysys.IdxField" valueBinding="view.nodeContent.nodeIdx" rawValueBinding="view.nodeContent.nodeIdx"}}
  {{else}}
    {{view "Sysys.KeyField" rawValueBinding="view.nodeContent.nodeKey"}}<span class="colon-glyph">:</span>
  {{/if}}
 | {{view.nodeContent.nodeType}} |
  {{#if view.nodeContent.isLiteral}}
    {{view "Sysys.ValField" rawValueBinding="view.nodeContent.json" }}
  {{else}}
    <span class="open-glyph"> </span> {{!view "Sysys.ProxyField" }}
  {{/if}}
</span>

{{#if view.nodeContent.isCollection}}
  {{view "Sysys.BigValField"}}
  {{#each nodeChild in view.nodeContent.nodeVal}}
    {{#with nodeChild}}
    {{view Sysys.HumonNodeView nodeContentBinding="nodeChild"}}
    {{/with}}
  {{/each}}
  {{!collection contentBinding="view.nodeContent.nodeVal" itemViewClass="Sysys.HumonNodeView" class="node-item-collection-wrapper"}}
{{/if}}
<span class="buffer"></span>
<span class="close-glyph"></span>

{{#if view.displayStats}}
<br><br>
<strong> JSON STRING</strong>: {{view.json_string}} <br>
<strong> Active Humon Node</strong>: {{controller.activeHumonNode.nodeView.json_string}} <br>
<strong> Active Humon Node Key</strong> {{controller.activeHumonNode.nodeKey}} <br>
<strong> Active Humon Node Idx</strong> {{controller.activeHumonNode.nodeIdx}} <br>
<strong> Active Humon Node Parent</strong> {{controller.activeHumonNode.nodeParent.nodeView.json_string}} <br>
{{/if}}
