{{!
humon_node_date.hbs
}}
  {{partial humon_key_index_field}}

    {{view "Sysys.ValEditableField" rawValueBinding="view.templateStrings.asString" }}
    ({{ view.templateStrings.relative }})
    <span class="node-detail node-icon">
      {{partial humon_icon}}
    </span>

    <span class="node-detail">
      {{view.templateStrings.verbose}}
    </span>
