<span class="blocky">
  {{#if view.content.nodeParent.isHash}}
    {{view Sysys.KeyField rawValueBinding="view.content.nodeKey"}} :
  {{else}}
    {{view Sysys.IdxField valueBinding="view.content.nodeIdx" rawValueBinding="view.content.nodeIdx"}} 
  {{/if}}

  {{#if view.content.isLiteral}}
    {{view Sysys.ValField rawValueBinding="view.content.json" }}
  {{else}}
    {{view Sysys.ProxyField }}
  {{/if}}
</span>

{{#if view.content.isCollection}}
  {{collection contentBinding="view.content.nodeVal" itemViewClass="Sysys.HumonNodeView" class="node-item-collection-wrapper"}}
{{/if}}

{{#if view.displayStats}}
<strong> JSON STRING</strong>: {{view.json_string}} <br>
<strong> Active Humon Node</strong>: {{controller.activeHumonNode.nodeView.json_string}} <br>
<strong> Active Humon Node Key</strong> {{controller.activeHumonNode.nodeKey}} <br>
<strong> Active Humon Node Idx</strong> {{controller.activeHumonNode.nodeIdx}} <br>
{{/if}}
