<span class="rtdp-time">
  {{timeString}}
  <span class="rtdp-time-hint">
    -{{timeRangeString}}
  </span>
  <span class="rtdp-time-hint relative">
    ({{relativeTimeString}})
  </span>
</span>
<span {{bind-attr style=view.fillStyle}} class="rtdp-productivity">
  Productivity index: {{productivityIndex}}
</span>
<span class="rtdp-total-duration">
  Total time index: {{totalDurationString}}
</span>
<br>

{{render 'rtdpActivities' rtdp.displayActivities}}
