<div class="sp-day-header">
  <span class="sp-day-yesterday"> {{#link-to "spDay" yesterday}} Yesterday {{/link-to}} </span>
  <span class="sp-day-title"> {{#link-to "spDay" this}} {{title}} {{/link-to}} </span>
  <span class="sp-day-tomorrow"> {{#link-to "spDay" tomorrow}} Tomorrow {{/link-to}}</span>
</div>
Day started: {{startedAt}} <br>
date: {{date}} <br>
note: {{note}} <br>
<br>
{{humon-editor json=sleep rootKey="sleep" }}
