<!DOCTYPE html>
<html>
<head>
  <title>Sherwin points</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_tag do %>
    window._sp_vars = <%=raw  @server_side_vars.to_json if @server_side_vars %>;
  <% end %>
  <%= javascript_include_tag "react_deps" %>
  <%= javascript_include_tag "sp_react" %>
  <%= csrf_meta_tags %>

  <!-- mixpanel will be inserted here by the gem -->
</head>

<body> hi mom</body>

</html>
